@import "~bootstrap/scss/bootstrap.scss";
body {
    background: url(https://www.toptal.com/designers/subtlepatterns/patterns/so-white.png);
}
.box {
    margin-top: 350px;
    margin-left: 875px;
    width: 30%;
    padding: 10;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1{
    padding-bottom: 40px;
    padding-top: 30px;
}

.repeating{
    display: flex;
    margin-left: 70px;
    padding: 2px;
    width: 80%;
    border: 1px black;
    height: 80px;
}

input{
    margin-left: 70px;
    width: 80%;
    height: 80px;
    border: none;
}

li {
    padding-top: 20px;
    padding-left: 30px;
    background-color: white;  
    height: 75px;
}

ul {
    list-style: none;
    margin: auto;
    padding: 0%;
}



